# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
